# General
*.iml
.gradle/
.idea/
.kotlin/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Android/Studio
**/local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
*.p12
*.google_services.json
